* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body {
    background-color: #0d0f22;
}

header {
    position: relative;
    background-color: #0d0f22;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 0px;
    border-bottom: solid 2px #4c77cc;
    box-shadow: 0 3px 6px #ca2faa;
}

a.logo{
    display: inline-block;
    margin-left: 30px; 
}

.logo {
  display: block;
  margin: 0;        
  padding: 0;     
  width: 60px;  
  height: 50px;  
}

.botao_menu a {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255); /* Cor do texto */
    padding: 10px;
    margin-left: 45px; 
    text-decoration: none;
    font-size: 1.2em;
}

.botao_menu a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.botao_menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #4c77cc, #ca2faa);
  transition: width 0.3s ease;
  border-radius: 8px;
}

.botao_menu a:hover {
    background: linear-gradient(to right, #4c77cc, #ca2faa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.botao_menu a:hover::after {
  width: 100%;
}

a.logo h1{
    background: none;
    color: rgb(255, 255, 255); /* Cor do texto */
}

/* Container da barra de pesquisa */
.barra_pesquisa {
    width: 100%;
    max-width: 400px; /* Define um tamanho máximo */
    margin: 0px 0px 0 80px; /* Centraliza na tela */
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 3px;
    background-color: white;
}

/* Estilizando o campo de entrada */
.barra_pesquisa input {
    color: black;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
}

/* Estilizando o botão */
.barra_pesquisa button {
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 13px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito no botão ao passar o mouse */
.barra_pesquisa button:hover {
    background: linear-gradient(to right, #4c77cc, #ca2faa);
}
