body {
    background-color: #0d0f22;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.cursos-h1 {
    margin-top: 50px; /* ou ajuste conforme preferir */
    text-align: center;
    font-weight: bold;
    color: white; /* se estiver usando fundo escuro */
}

.curso {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #4c77cc, #ca2faa);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 700px;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}

.curso:hover {
    transform: scale(1.02);
    box-shadow: 0 0 12px #8b53bb;
}

.curso img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.curso-info a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.curso-info a:hover {
    text-decoration: underline;
}

.voltar {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #7f8c8d;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}

.botao-voltar {
    margin: 100px 0;
}

.botao-voltar button {
    background: linear-gradient(to right, #4c77cc, #ca2faa);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    display: block;
    margin: 0 auto;
}

.botao-voltar button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #8b53bb;
}

.botao-voltar a {
    text-decoration: none;
}