footer {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #0d0f22;
  border-radius: 0px;
  border-top: 0.5px solid transparent;
  border-image: linear-gradient(to right, #4c77cc, #ca2faa) 1;
  padding: 2rem;
  position: relative;
}

.footer-left h1 {
  color: #4c77cc;
  font-family: 'Arial, Helvetica, sans-serif';
  display: inline-block;
  text-decoration: none;
}

.footer-left h1:hover {
  background: linear-gradient(to right, #4c77cc, #ca2faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-left p {
  color: #4c77cc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu a {
  color: #ca2faa;
  margin: 10px;
  text-decoration: none;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
}

.footer-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #4c77cc, #ca2faa);
  transition: width 0.3s ease;
  border-radius: 8px;
}

.footer-menu a:hover {
  background: linear-gradient(to right, #4c77cc, #ca2faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-menu a:hover::after {
  width: 100%;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 12px;
  color: #ffffff;
}

.footer-bottom p {
  color: #8b53bb;
}
