<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Safe</title>
    <link rel="stylesheet" href="{% static 'learning_logs/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<header>
    <a class="logo" href="{% url 'index' %}"><h1>Cyber Safe</h1></a>
    <div class="botao_menu">
        <a href="{% url 'index' %}">Início</a><a href="">Serviços</a><a href="">Sobre</a>
    </div>
    <div class="barra_pesquisa">
        <input type="text" placeholder="Digite aqui ... ">
        <button>🔍</button>
    </div>
</header>
<body>
{% block content %}{% endblock content %}
{% include "learning_logs/footer.html" %}
</body>
</html>