<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Safe</title>
    <link rel="icon" href="{% static 'learning_logs/img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'learning_logs/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<header>
    <a class="logo" href="{% url 'index' %}"><img src="{% static 'learning_logs/img/logo.png' %}" class="logo" alt="Logo"></a>
    <div class="botao_menu">
        <a href="{% url 'index' %}">Início</a><a href="{% url 'servicos' %}">Serviços</a><a href="{% url 'sobre' %}">Sobre</a> <a href="{% url 'cursos' %}">Cursos</a>
        
    </div>
    <div class="barra_pesquisa">
        <input type="text" placeholder="Procurar">
        <button><img src="{% static 'learning_logs/img/search.png' %}"></button>
    </div>
    <div class="header-right">
    {% if user.is_authenticated %}
        <img src="{% static 'learning_logs/img/profile.png' %}" alt="Perfil" class="profile-pic">
        <span>{{ user.username }}</span>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">
            <img src="{% static 'learning_logs/img/profile.png' %}" alt="Perfil" class="profile-pic">
        </a>
    {% endif %}
    </div>
</header>
<body>
{% block content %}{% endblock content %}
{% include "learning_logs/footer.html" %}
</body>
</html>