<!DOCTYPE html>
<html lang="pt-BR">
    {% extends "learning_logs/base.html" %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Safe</title>
    <link rel="SHORTCUT ICON" href="" type="">
    <meta name="description" content="" />
    <meta name="keywords" content="Cyber Safe, segurança cibernética" />
    <meta name="author" content="Felipe Alves Soares" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'learning_logs/css/cursos.css' %}">
    {% endblock %}
    {% block extra_js %}
        <script src="{% static 'learning_logs/js/index.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1 class="cursos-h1">Lista de Cursos</h1>
    <br>
    <br>
    <div class="curso">
        <img src="{% static 'learning_logs/img/rapozo_curso_01.jpeg' %}" alt="Curso 01">
        <div class="curso-info">
            <a href="{% url 'curso_01' %}">Curso 01: Introdução à Cibersegurança</a>
        </div>
    </div>
    <div class="botao-voltar">
        <a href="{% url 'index' %}"><button type="submit">Voltar ao Início</button></a>
    </div>
    {% endblock content %}
</body>
</html>