<!DOCTYPE html>
<html lang="pt-BR">
    {% extends "learning_logs/base.html" %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Safe</title>
    <link rel="SHORTCUT ICON" href="" type="">
    <meta name="description" content="" />
    <meta name="keywords" content="Cyber Safe, segurança cibernética" />
    <meta name="author" content="Felipe Alves Soares" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'learning_logs/css/index.css' %}">
    {% endblock %}
    {% block extra_js %}
        <script src="{% static 'learning_logs/js/index.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="corpo-noticia">
        <br>
        <h1>{{ noticia.titulo }}</h1>
        <br>
        <p class="data">{{ noticia.data_publicacao }}</p>
        <br>
        <strong><p>{{ noticia.descricao }}</p></strong>
        <br>
        <div class="botao-ctg">
            <button type="submit">{{ noticia.categoria|title }}</button>
        </div>
        <br>
        <br>
        <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" class="noticia-img" width="500" height="300">
        <br>
        {% if noticia.descricao_imagem %}
        <p class="desc-img">{{ noticia.descricao_imagem }}</p>
        {% endif %}
        <br>
        <br>
        <br>
        <hr class="hr-noticia">
        <br>
        <br>
        <p class="conteudo">{{ noticia.conteudo|safe }}</p>
        <br>
        {% if noticia.imagem2 %}
          <img src="{{ noticia.imagem2.url }}" alt="{{ noticia.titulo }}" class="noticia-img" width="500" height="300">
        {% endif %}
        <br>
        {% if noticia.descricao_imagem2 %}
        <p class="desc-img">{{ noticia.descricao_imagem2 }}</p>
        {% endif %}
        <br>
        <br>
        {% if noticia.conteudo2 %}
            <p class="conteudo">{{ noticia.conteudo2|safe }}</p>
        {% endif %}
        <div class="botao-noticia">
            <a href="{{ noticia.link }}"><button type="submit">Acessar Fonte</button></a>
        </div>
        <br>
        <br>
        <br>
        <hr class="hr-noticia">
        <br>
        <br>
        <div class="categoria">
            <h2>Veja também:</h2>
            <br>
            <div class="carousel">
                <button class="carousel-button prev">❮</button>
                <div class="carousel-items">
                    {% for noticia in noticias_mesma_categoria %}
                        <div class="carousel-item">
                            <a href="{% url 'noticia' noticia.pk %}">
                                <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                            </a>
                            <h3>{{ noticia.titulo }}</h3>
                        </div>
                    {% empty %}
                        <p>Não há outras notícias nesta categoria.</p>
                    {% endfor %}
                </div>
                <button class="carousel-button next">❯</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}
</body>
</html>