{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'learning_logs/css/register.css' %}">
</head>
<body>
    <header>
      <h2>Cyber Safe</h2>
    </header>
    <div class="div_1">
      <div class="text_principal">
        <h1>Sem <br>segurança, <br>sem <br>privacidade</h1>
      </div>
      <div class="janela_login">
        <h2>Cadastro</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Registrar</button>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
{% endblock %}
